{% extends "base2.html" %}
{% load static %}


{% block contents %}
<!-- <link rel="stylesheet" href="{% static 'css/weather.css' %}"> -->
<script src="{% static 'js/weather.js' %}" defer></script>
<style>
  .card {
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    margin: 1em;
    max-width: 420px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tombol-cuaca {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    background: #7c7c7c2b;
    color: white;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px)
}

#tombol-cuaca:hover {
    background-color: white;
    color: #000000;
}

h1.temp {
    margin: 0;
    margin-bottom: center;
    font-size: 30px;

}

.flex {
    display: flex;
    align-items: center;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading::after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}
.city{
  font-size: 25px;
}
.container{
    display: flex;
    margin-bottom: 16rem;
}
.container-cuaca{
  margin-left: 30px;
}
tr {
  background-color: white;
  border-color: black;
}
#tombol-tambah{
  margin: 0.5em;
    border-radius: 10%;
    border: none;
    background: #7e1a652b;
    color: rgb(0, 0, 0);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    font-size: small;
    width: 8rem;
    height: 3rem;
}

</style>
<br>
<div class="container">
  <div class="container-vaksin">
    <h1>Semua Lokasi Vaksin<h1>
      <h3></h3>
      <table class="table">
          <thead>
            <tr >
              <th>Nama Lokasi: </th>
              <th>Pulau: </th>
              <th>Provinsi: </th>
              <th>Jenis Vaksin: </th>
              <th>Rincian Dosis</th>
              <th>Alamat: </th>
            </tr>
          </thead>
          <tbody>
            {%for i in lokasi%}
            <tr>
              <td>{{i.NamaLokasi}}</td>
              <td>{{i.pulau}}</td>
              <td>{{i.provinsi}}</td>
              <td>{{i.JenisVaksin}}</td>
              <td>{{i.RincianDosis}}</td>
              <td>{{i.Alamat}}</td>
            </tr>
            {%endfor%}
          </tbody>
    </table>
  </div>
    <div class="container-cuaca">
      <h5>Cek cuaca lokasi vaksin anda disini</h5>
      <div class="card">
        <div class="search">
            <input type="text" class="search-bar" placeholder="Search">
            <button id="tombol-cuaca"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1.5em" 
                width="1.5em" xmlns="http://www.w3.org/2000/svg">
                <path
                 d="M909.6 854.5L649.9 594.8C690.2 542.7 712 479 712 412c0-80.2-31.3-155.4-87.9-212.1-56.6-56.7-132-87.9-212.1-87.9s-155.5 31.3-212.1 87.9C143.2 256.5 112 331.8 112 412c0 80.1 31.3 155.5 87.9 212.1C256.5 680.8 331.8 712 412 712c67 0 130.6-21.8 182.7-62l259.7 259.6a8.2 8.2 0 0 0 11.6 0l43.6-43.5a8.2 8.2 0 0 0 0-11.6zM570.4 570.4C528 612.7 471.8 636 412 636s-116-23.3-158.4-65.6C211.3 528 188 471.8 188 412s23.3-116.1 65.6-158.4C296 211.3 352.2 188 412 188s116.1 23.2 158.4 65.6S636 352.2 636 412s-23.3 116.1-65.6 158.4z">
                </path>
            </svg></button>
        </div>
        <div class="weather loading">
            <h2 class='city'>Weather in Depok</h2>
            <h1 class="temp">51°C</h1>
            <div class="flex">
                <img src="http://openweathermap.org/img/wn/02d.png" alt="" class='icon'/>
                <div class="description">Cloudy</div>
            </div>
            <div class="humidity">Humidity 60%</div>
            <div class="wind">Wind speed: 6.2 km/h</div>
        </div>
    </div>
    {% if request.user.is_staff %}
    <button onclick="window.location.href='/lokasi-vaksin/tambah-lokasi'" id="tombol-tambah">Tambah Lokasi
    </button>
    {% endif %}

    </div>
    
</div>


{% endblock contents %}